.repos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  .header-font {

    font-size: 17px;
    text-underline-offset: true;
    font-weight: bolder;
    font-style: italic;
    color: brown;

  }

  .top-margin {
    margin-top: '60';
  }

  .card-image {
    width: 150px;
    height: 80px;
  }

  .card-img-container {
    padding: 20px;
  }

  .gap{
    gap: 1rem;
  }